.footer {
  width: 100%;
 }
.tamanoCard{
    width: 18rem;
}
.ubicacionDiv{
  margin-left: 33%;
}
.ubicacionBoton{
  
  margin-left: 44%;
}
.ubiBoton{
  margin: 10px;
}
.titulo{
  text-decoration: none;
  color: black;
}
.ubicacionFooter{
  text-align: center;
}
.ubicacionFooter1{
  text-align: center;
}
.ubicacionFooter2{
  text-align: center;
}
#lblCartCount {
    font-size: 15px;
    background: rgb(61, 61, 61);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  